# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.stryker-tmp

# Environment variables
.env

# Logs
logs/
*.log

# Build outputs
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.pid

# MongoDB
data/db/

# Coverage
coverage/

# Personal notes and diagrams
notes
Mini-Jira_Arch.drawio
Mini-Jira_Sequence.drawio
Mini-Jira_Arch.png
Mini-Jira_Sequence.png

